.about-us {
  height: 100vh;
  display: flex;
  align-items: center;
  background: $bg-light url("../img/figures.svg") no-repeat right center;
  &__container {
    @extend %main-container;
    @extend %flex;
    justify-content: left;
    align-items: flex-start;
  }
  &__info {
    @extend %justify-between;
    width: 43%;
  }
  &__caption {
    width: 100%;
    margin-bottom: 80px;
    line-height: 45px;
    font-size: 30px;
    font-weight: 700;
    color: $color-white;
  }
  &__subcaption {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
  }
  &__turn-caption {
    @extend %caption-turn;
  }
  &__block {
    width: 42%;
  }
  &__our-price {
    @extend %plus;
  }
  &__text {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 15px;
  }
}