.blog {
  padding: 70px 0 100px 0;
  background: $bg-dark;
  &__container {
    position: relative;
    @extend %main-container;
    width: 100%;
  }
  &__turn-caption {
    position: absolute;
    top: 30px;
    left: 0;
    @extend %caption-turn;
    transform: rotate(-90deg) translate(0px, 0px);
  }
  &__caption {
    width: 70%;
    margin: 0 auto 50px;
    text-align: center;
    line-height: 80px;
    font-size: 60px;
  }
  &__all {
    @extend %flex;
    margin-left: -8px;
    margin-right: -8px;
  }
  &__item {
    width: 32.36%;
    position: relative;
    margin: 30px 8px;
    &:hover {
      .blog__date {
        transition: .5s;
        background: $bg-dark;
        span {
          &:first-child {
            color: $color-white;
          }
        }
      }
    }
    &:nth-child(7) {
      width: 100%;
      .blog__img {
        height: 57vh;
      }
    }
  }
  &__img {
    width: 100%;
    margin-bottom: 30px;
  }
  &__title {
    display: block;
    margin-bottom: 35px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 900;
    font-family: $font-overpass;
    color: $color-white;
    &:hover {
      transition: .5s;
      color: $main-color;
    }
  }
  &__text {
    width: 79%;
    padding-left: 20px;
    line-height: 30px;
    font-size: 20px;
  }
  &__date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    @extend %direction-column;
    align-items: center;
    justify-content: center;
    background: $color-white;
    span {
      &:first-child {
        margin-bottom: 5px;
        font-size: 28px;
        color: #000;
      }
      &:nth-child(2) {
        font-size: 11px;
      }
    }
  }
  &__more {
    text-align: right;
    a {
      @extend %plus;
      box-sizing: border-box;
    }
  }
}