.connect {
  width: 100%;
  height: 100vh;
  @extend %flex;
  align-items: center;
  justify-content: center;
  background: $bg-light;
  &__container {
    position: relative;
    @extend %main-container;
    width: 100%;
  }
  &__caption {
    margin-bottom: 100px;
    letter-spacing: 5px;
    font-family: $font-overpass;
    font-size: 60px;
    font-weight: 600;
  }
  &__content {
    width: 42%;
    margin: 0 auto;
  }
  &__text {
    margin-bottom: 50px;
    font-size: 44px;
    line-height: 69px;
  }
  &__link {
    @extend %main-button;
    padding: 20px 48px 20px 0;
  }
  &__turn-caption {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg) translate(50px, -200px);
    letter-spacing: 20px;
    text-transform: uppercase;
    font-family: $font-overpass;
    font-size: 80px;
    font-weight: 900;
    color: #1F1E1D;
  }
}