.doing {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background: $bg-dark;
  &__container {
    @extend %main-container;
    width: 100%;
    position: relative;
    @extend %flex;
    justify-content: left;
    align-items: flex-start;
  }
  &__turn-caption {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    @extend %caption-turn;
    transform: rotate(-90deg) translate(40px, -50px);
  }
  &__content {
    width: 100%;
    position: relative;
    z-index: 1;
    @extend %justify-between;
  }
  &__item {
    text-align: center;
    width: 23%;
    &:first-child {
      margin-bottom: 270px;
    }
  }
  &__obj {
    margin-bottom: 50px;
  }
  &__title {
    font-size: 25px;
  }
  &__moove {
    position: absolute;
    bottom: -70px;
    text-transform: uppercase;
    font-family: $font-overpass;
    font-weight: 900;
    font-size: 560px;
    color: $bg-light;
  }
}