.header {
  width: 100%;
  position: absolute;
  &__container {
    @extend %main-container;
    @extend %justify-between;
    align-items: center;
    position: relative;
    top: 0;
    padding: 50px 20px 0 20px;
  }
  &__slogan {
    text-transform: uppercase;
    font-size: 20px;
    color: $color-white;
  }
  &__nav {
    width: 888px;
    @extend %justify-between;
    align-items: center;
  }
  &__link {
    font-family: $font-overpass;
    font-size: 20px;
    color: #D6D6D6;
    &:hover {
      transition: 0.8s;
      color: $main-color;
    }
  }
  &__feedback {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid $color-white;
    color: $color-white;
    &:hover {
      transition: .8s;
      border:2px solid $main-color;
      color: $main-color;
    }
  }
  .feedback {
    display: none;
  }
}
