.main-block {
  height: 100vh;
  background: url('../img/ux-ui.jpg') center top / cover no-repeat;
  &__container {
    width: 100%;
    height: 100vh;
    @extend %justify-between;
    align-items: flex-end;
  }
  &__item {
    height: 100vh;
    flex: 1;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    box-shadow: inset -1px 0 0 #545454;
    transition: 1s;
    &.active {
      transition: 1s;
      .main-block__info, .main-block__more {
        display: inline-block;
        animation: vika 1.2s linear forwards;
      }
      .main-block__caption {
        transition: 1.2s;
        -webkit-text-stroke: .8px $main-color;
        animation: vika 1.2s linear forwards;
      }
    }
  }
  &__content {
    width: 58%;
    margin: 0 auto 123px;
    overflow: hidden;
  }
  &__caption {
    @extend %caption;
    margin-bottom: 20px;
  }
  &__info {
    display: none;
    p {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__more {
    display: none;
    @extend %main-button;
    margin-top: 50px;
  }
}

@keyframes vika {
  from {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.5s, opacity 1.5s linear;
  }
  to {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 1.5s linear;
  }
}
