.portfolio {
  padding-bottom: 200px;
  background: $bg-light;
  &__container {
    position: relative;
    @extend %main-container;
  }
  &__text {
    @extend %justify-between;
    padding-top: 140px;
  }
  &__all {
    position: relative;
    top: -60px;
    width: auto;
    @extend %plus;
    margin-top: 0;
    font-family: $font-overpass;
    font-size: 33px;
    font-weight: 600;
  }
  &__turn-caption {
    @extend %caption-turn;
    transform: rotate(-90deg) translate(0px, -50px);
  }
  &__content {
    max-width: 1364px;
    margin: 0 auto;
    @extend %justify-between;
  }
  &__item {
    position: relative;
    width: 50%;
    height: 80vh;
    @extend %direction-column;
    justify-content: flex-end;
    padding: 0 0 40px 40px;
    box-sizing: border-box;
    &:nth-child(3) {
      width: 60%;
      height: 60vh;
    }
    &:nth-child(4) {
      width: 40%;
      height: 60vh;
    }
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.4);
    }
    &:hover {
      transition: 0.5s;
      &:before {
        transition: 0.5s;
        background: rgba(0,0,0,0.1);
      }
      .portfolio__link {
        transition: 0.5s;
        display: block;
      }
    }
  }
  &__title {
    position: relative;
    @extend %direction-column;
    margin-bottom: 10px;
    line-height: 37px;
    font-family: $font-overpass;
    font-size: 24px;
    color: $color-white;
  }
  &__link {
    display: none;
    position: relative;
    width: 140px;
    @extend %main-button;
    color: $color-white;
  }
}