$main-color: #FFB136;
$bg-dark: #1F1E1D;
$bg-light: #262626;
$color-white: #fff;
$text-color: #AEAEAE;
$dark-white: #757575;
$font-overpass: 'Overpass', sans-serif;
$font-lato: 'Lato', sans-serif;

@mixin screen-1400{
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin screen-1024{
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen-765{
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen-579 {
  @media screen and (max-width: 579px) {
    @content;
  }
}

%main-container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
}

%justify-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

%direction-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

%caption {
  width: 100%;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $font-overpass;
  font-size: 31px;
  font-weight: 900;
  -webkit-text-stroke: .5px $text-color;
  color: transparent;
}

%caption-turn {
  transform: rotate(-90deg) translate(50px, -55px);
  font-family: $font-overpass;
  font-size: 33px;
  font-weight: 600;
}

%plus {
  width: 100%;
  margin-top: 20px;
  padding-left: 27px;
  font-family: $font-overpass;
  font-size: 33px;
  font-weight: 600;
  background: url("../img/+.svg") no-repeat center left;
  color: $text-color;
}

%main-button {
  width: auto;
  padding: 20px 54px 20px 0;
  font-size: 17px;
  font-family: $font-lato;
  cursor: pointer;
  background: url(../img/arrow-right.svg) no-repeat center right;
  color: $text-color;
  @include screen-579 {
    height: 53px !important;
    font-size: 18px;
  }
}

body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $font-lato;
  color: $text-color;
}

.main {
  flex: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

strong {
  font-weight: bold;
}

input, textarea, button, .slick-slide {
  outline: none;
  &:focus, &:active {
    outline: none;
  }
}

textarea {resize: none !important;}

.active {
  cursor: default !important;
}

::-webkit-input-placeholder {color:$color-white;}
::-moz-placeholder          {color:$color-white;}
:-moz-placeholder           {color:$color-white;}
:-ms-input-placeholder      {color:$color-white;}
::-webkit-inner-spin-button {display: none;}
::-webkit-calendar-picker-indicator {background: none;}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px $text-color !important;
  -webkit-text-fill-color: $main-color !important;
  color: $main-color !important;
}